@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["greeting"], @ViewBag.Name</h1>
	
	@Html.ActionLink("Введите свои данные", "InputData")
	
	<p>
		@Html.ActionLink("Посмотрите, кто уже здесь",
			"OutputData")
	</p>

	<p>Представиться как <a href="/?name=Олег">Олег</a>.</p>


	<p><a href="/My/ExeEnum">ExeEnum</a></p>
	<p><a href="/My/ExeStruct">ExeStruct</a></p>
	<p><a href="/My/ExeFactorial">ExeFactorial</a></p>
	<p><a href="/My/ExeTriangle">ExeTriangle</a></p>
	<p><a href="/My/ExeCircle">ExeCircle</a></p>
	<p><a href="/My/ExePolim">ExePolim</a></p>
	<p><a href="/My/ExeCollection">ExeCollection</a></p>
	<p><a href="/My/ExeCollectionTriangles">ExeCollectionTriangles</a></p>

	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>