@model Person
@{
}

<div>
	<form method="post">
		<table>
			<tr>
				<td>
					<p>Введите имя:</p>
				</td>
				<td>
					<input type="text" name="FirstName"/>
				</td>
			</tr>
			<tr>
				<td>
					<p>Введите фамилию:</p>
				</td>
				<td>
					<input type="text" name="LastName"/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="Отправить"/>
				</td>
			</tr>
		</table>
	</form>
</div>