@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в "Лис и пёс"</h1>
    <p>В нашей социальной сети для питмоцев зарегистрировано уже более 10 лис и 20 собак.</p>
</div>
